*{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header{
    min-height: 60vh;
    width: 100%;   
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url('../images/background-image.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}
Nav{
    display: flex;
    padding: 2% 6% ;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    flex: 1;    
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;

}
.nav-links ul li:hover::after{
    width: 100%;
}
.avatar{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 55px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
#about-me{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.p1{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}   

/*----------Applications----------*/

#applications{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #fff3f3;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.cards{
    margin-top: 5%; 
    display: flex;
    justify-content: space-between;
    color: #fff;
    
}
.card-lrg{
    background-image: url(../images/ap1-background.jpg);
    background-position: center;
    background-size: cover;
    width: 70%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 90px;
    box-sizing: border-box;
    margin:auto;
}
.card-med2{
    flex-basis: 31%;
    background-image: url(../images/ap2-background.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 80px;
    box-sizing: border-box;
}.card-med3{
    flex-basis: 31%;
    background-image: url(../images/ap3-background.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 80px;
    box-sizing: border-box;
}.card-med4{
    flex-basis: 31%;
    background-image: url(../images/ap4-background.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 80px;
    box-sizing: border-box;
}

.h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.card-med1:hover{
    box-shadow: 0 0 20px 0px red;
    transition: 0.5s;
}
.card-med2:hover{
    box-shadow: 0 0 20px 0px red;
    transition: 0.5s;
}
.card-med3:hover{
    box-shadow: 0 0 20px 0px red;
    transition: 0.5s;
}
.card-med4:hover{
    box-shadow: 0 0 20px 0px red;
    transition: 0.5s;
}
.card-lrg:hover{
    box-shadow: 0 0 20px 0px red;
    transition: 0.5s;
}
@media(max-width: 700px){
    .cards{
        flex-direction: column;
    }
}
#contact{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 100px;
}
.contact-links{
    flex: 1;    
    margin-left: 34%;
}
.contact-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    
}
.contact-links ul li a{
    color:black;
    text-decoration: none;
    font-size: 13px;
}
.contact-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.5s;

}
.contact-links ul li:hover::after{
    width: 100%;
}
footer{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}